html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.job-offers {
    display: flex;
    justify-content: center;
}

.job-element {
    margin: .5rem;
    padding: .2rem;
    border: 1px red solid;

}