.section-add-job {
  flex-direction: column;
  align-items: center;
  display: none;
}

.active {
  display: flex;
}

.benefits-para {
  font-size: 1.2rem;
  margin-left: 2.5rem;
}

.benefits-to-check {
  display: flex;
  justify-content: center;
}

.checkbox {
  transform: scale(2);
}

.section-add-job-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.section-add-job-form {
  width: 80%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-add-job-form > input {
  width: 100%;
}

.btn-add {
  margin: 0.4rem;
  width: 200px;
  background-color: var(--grey-color);
  color: var(--white-txt-color);
  border: 2px solid black;
}

.btn-add:hover {
  background-color: var(--white-txt-color);
  color: var(--main-bg-color);
}

.input {
  width: 100%;
  max-width: 400px;
}

.input-seniority {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
