.section-job-offers {
  display: none;
}

.job-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.active {
  display: flex;
}

.btn-delete {
  background-color: red;
  font-size: 20rem;
}
