/****** header ******/

header {
  font-family: 'Poppins', 'Arial', sans-serif;
  background-color: var(--main-bg-color);
  height: 4rem;
  border-bottom: 1px solid rgb(49, 52, 57);
  display: flex;
  justify-content: space-between;
}

.btn-goto-section {
  margin: 0.4rem;
  width: 10rem;
  background-color: var(--white-txt-color);
  color: var(--main-bg-color);
  border: 2px solid black;
  cursor: pointer;
}

.btn-goto-section:hover {
  color: var(--white-txt-color);
  background-color: var(--main-bg-color);
}

.nav-logo {
  margin-left: 1rem;
  height: 100%;
}

.job-offers {
  display: flex;
  justify-content: center;
}
