.filters {
  margin: 8rem;
  display: none;
}

.active {
  display: block;

  /* transform: translateY(-500px); */
}

.category-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 100%;
}

.active-open-categories {
  display: flex;
}

.category-element {
  margin: 0.5rem;
  width: 10rem;
}

.category-element:hover,
.set-filter-btn {
  color: white;
  background-color: var(--main-bg-color);
  border: solid 1px white;
  cursor: pointer;
  border-radius: 3px;
}

.job-technologies-div {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .filters {
    display: flex;
  }
}
