.offer-modal {
  position: fixed;
  display: none;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  margin: 0 auto;
  width: 50%;
  height: 20rem;
}

.active-modal {
  display: inline-block;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 2%;
  padding: 0;
  transition: transform 0.25s, opacity 0.25s;
  opacity: 1;
  background-color: transparent;
  color: rgb(200, 75, 49);
  cursor: pointer;
  font-size: 4rem;
  font-family: serif;
  line-height: 1;
  border: none;
  outline: none;
  margin: 1rem;
}
.close-btn:before {
  content: '\d7';
}
.close-btn:hover {
  opacity: 1;
  transform: rotate(90deg);
}
