.section-job-offers {
  display: none;
  background-color: white;
  color: black;
  padding: 0 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.offers-of-the-day {
  font-size: 2rem;
  line-height: 2.4rem;
  display: inline-block;
  margin-bottom: 1rem;
  border-bottom: solid 4px #1271ed;
}

.job-element {
  width: 100%;
  display: flex;
  margin-bottom: 0.05rem;
  margin-bottom: 1rem;
  border: 0.1px rgb(243, 243, 243) solid;
  border-left: solid 4px #1271ed;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.job-element:hover {
  background-color: #fcfcfcd4;
}

.job-element-logo {
  flex: 1;
  max-height: 8rem;
  max-width: 8rem;
  padding: 1rem;
  margin: auto;
}

.job-element-info {
  flex: 10;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.company-name {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: rgb(166, 166, 166);
}
.salary-from,
.salary-to {
  display: inline-block;
}
.languages {
  display: inline-block;
}
.salary-to::before {
  content: '-';
}
.salary-to::after {
  content: ' PLN';
}
.job-element-description {
  font-size: 1.3rem;
  padding: 2rem 0.5rem;
}

@media (min-width: 992px) {
  .section-job-offers {
    padding: 2rem 12rem;
  }
  /* .job-list {
    padding: 0 10rem;
  }
  .offerts-of-the-day {
    margin: 0 0 3rem 10rem;
  } */
}

@media (max-width: 500px) {
  .section-job-offers {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
