.offer-modal {
  display: none;

  /* transform: translate(-50%, -50%); */
  background-color: white;
  color: black;
  margin: 10rem auto;
  width: 80vw;
  height: 100vh;
}

.active-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.offer-modal-info-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.close-btn {
  height: 5rem;
  left: 1rem;
  transition: transform 0.25s, opacity 0.25s;
  opacity: 1;
  background-color: transparent;
  color: rgb(200, 75, 49);
  cursor: pointer;
  font-size: 4rem;
  font-family: serif;
  line-height: 1;
  border: none;
  outline: none;
  margin: 1rem;
}
.close-btn:before {
  content: '\d7';
}
.close-btn:hover {
  opacity: 1;
  transform: rotate(90deg);
}

.section-job-offer-hide {
  display: none;
}
