.section-job-offers {
  display: none;
  background-color: white;
  color: black;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.offers-of-the-day {
  font-size: 2rem;
  line-height: 2.4rem;
  display: inline-block;
  margin-bottom: 1rem;
  border-bottom: solid 4px #1271ed;
}

.btn-delete {
  background-color: red;
  font-size: 2rem;
}

.job-element {
  width: 100%;
  display: flex;
  margin-bottom: 0.1rem;
  border: 0.1px rgb(243, 243, 243) solid;
  border-left: solid 4px #1271ed;
  cursor: pointer;
}

.job-element:hover {
  background-color: #fcfcfcd4;
}

.job-element-logo {
  flex: 1;
  min-height: 8rem;
  min-width: 8rem;
  padding: 1rem;
}

.job-element-info {
  flex: 10;
}

.title {
  font-size: 1.4rem;
  padding: 0 0.5rem;
}

.company-name {
  padding: 0.8rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.salary-from,
.salary-to {
  display: inline-block;
}
.salary-to::before {
  content: '-';
}
.salary-to::after {
  content: ' PLN';
}
.job-element-description {
  font-size: 1.3rem;
  padding: 2rem 0.5rem;
}

.active {
  display: block;
}

@media (min-width: 992px) {
  .section-job-offers {
    margin: 0 auto;
  }
  .job-list {
    padding: 0 10rem;
  }
  .offerts-of-the-day {
    margin: 0 0 3rem 10rem;
  }
}
